Repository gregpa/alarm-rationalization: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-syntax-check, streamlit-imports

python-syntax-check:
  name: Validate Python Syntax
  entry: python -m py_compile
  language: system

streamlit-imports:
  name: Check Streamlit Imports
  entry: python -c "import streamlit; import pandas; print('Imports OK')"
  language: system
  pass_filenames: false

Add external config, data preview, and enhanced type hints
  README.md
  backups/alarm-rationalization-v3.23-backup.tar.gz
  backups/streamlit_app_v3.23_20260130_154832.py
  config/clients.yaml
  requirements.txt
  tests/test_transformer.py
Due: python-syntax-check

Clear uploaded files when client/area selection changes
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

commit
  backups/alarm-rationalization-v3.24-pre-medium-risk-20260130_161721.tar.gz
  config/client_template.yaml
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

updated docs
  docs/claude-project-knowledge-base.zip
  docs/claude-project/00-README.md
  docs/claude-project/01-DEVELOPER-GUIDE.md
  docs/claude-project/02-USER-GUIDE.md
  docs/claude-project/03-CLIENT-CONFIGURATION-GUIDE.md
  docs/claude-project/04-DELIVERABLES-CHECKLIST.md
  docs/claude-project/05-CODE-REFERENCE.md
  docs/claude-project/client_template.yaml
  docs/claude-project/clients.yaml
Due: none

color scheme
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

updated docs
  docs/claude-project/CLAUDE-PROJECT-INSTRUCTIONS.md
Due: none

Add progress indicators for transformations
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Add Change Report for all clients (ABB support)
  docs/claude-project/01-DEVELOPER-GUIDE.md
  docs/claude-project/02-USER-GUIDE.md
  docs/claude-project/CLAUDE-PROJECT-INSTRUCTIONS.md
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Add column mapping reference documentation
  docs/claude-project-knowledge-base.zip
  docs/claude-project/00-README.md
  docs/claude-project/06-COLUMN-MAPPING-REFERENCE.md
Due: none

Add configuration validator and template downloads (v3.25)
  docs/claude-project-knowledge-base.zip
  docs/claude-project/01-DEVELOPER-GUIDE.md
  docs/claude-project/02-USER-GUIDE.md
  docs/claude-project/CLAUDE-PROJECT-INSTRUCTIONS.md
  streamlit_app.py
  tests/test_transformer.py
Due: python-syntax-check, streamlit-imports

Remove template downloads feature
  docs/claude-project-knowledge-base.zip
  docs/claude-project/01-DEVELOPER-GUIDE.md
  docs/claude-project/02-USER-GUIDE.md
  docs/claude-project/CLAUDE-PROJECT-INSTRUCTIONS.md
  streamlit_app.py
  tests/test_transformer.py
Due: python-syntax-check, streamlit-imports

Fix encoding issue in Privacy & Security section
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Make selectbox dropdowns selection-only
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Add printable admin workflow reference
  docs/ADMIN-WORKFLOW-REFERENCE.md
Due: none

v3.26: FLNG PTF units + configurable mode selection
  config/clients.yaml
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Add DeltaV/Petrostar Valdez client support (v3.27)
  config/clients.yaml
  docs/claude-project/06-COLUMN-MAPPING-REFERENCE.md
  streamlit_app.py
  tests/conftest.py
  tests/test_transformer.py
Due: python-syntax-check, streamlit-imports

Update
  docs/IT_DEPLOYMENT_GUIDE.md
Due: none

Simplify Petrostar area to single Valdez Main Plant
  config/clients.yaml
  streamlit_app.py
Due: python-syntax-check, streamlit-imports

Path conditions:
  python-syntax-check: any of: \.py$ and \.py$
  streamlit-imports: any of: streamlit_app\.py$
